.App {
	width: 100%;
	height: 100vh;
	display: grid;
	justify-items: center;
	padding: 1rem;
}

.wrapper {
	width: 100%;
	height: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: space-between;
}

.msg-list {
	width: 100%;
	height: 100%;
	list-style: none;
	padding: 2rem 1rem;
	max-height: 80vh;
	border-radius: 5px;
	background: rgb(245, 245, 245);
	overflow: scroll;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.msg {
	width: 100%;
	padding: 0.5rem;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.msg.mine {
	background-color: rgba(50, 200, 0, 0.2);
}

.msg .head {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.msg.mine .author {
	color: green;
}

.msg.timestamp {
	opacity: 0.75;
}

.msg .content {
	padding: 1em 0;
}

.msg-form {
	width: 100%;
	display: flex;
	justify-content: center;
}

.msg-form input,
.msg-form button {
	font-size: 1rem;
	padding: 0.5em 1em;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.msg-form button {
	padding: 0.5em 2em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.msg-form button:not(:disabled) {
	cursor: pointer;
}
.msg-form input {
	width: 100%;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
