:root {
	--main-font: Arial, Helvetica, sans-serif;
	--body-bg: white;
	--text-color: black;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--main-font);
	background-color: var(--body-bg);
	color: var(--text-color);
}

body,
#root {
	height: 100%;
	min-height: 100vh;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

a {
	color: inherit;
}
